<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/product.css">
    <script type="module" src="./js/views/product.controller.js" defer></script>
</head>

<body>
    <h1>Products</h1>
    <section>
        <!-- Notificacion de guardado -->
        <!-- position: sticky top: 20px -->
        <!-- <div class="notification">
            <span>Se ha guardado el elemento</span>
        </div> -->
        <div class="options-container">
            <button class="btn-save" disabled>Guardar</button>
        </div>
        <div class="container_products-table">
            <table>
                <thead style="position: sticky; top: 0px;">
                    <tr>
                        <th>No</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="paginator">
            <div class="wrapper-paginator">
                <button class="paginator_btn__nextpage"><<</button>
                <button class="paginator_btn__nextpage"><</button>
                <button class="paginator_btn__page">1</button>
                <button class="paginator_btn__page">2</button>
                <button class="paginator_btn__page">3</button>
                <button class="paginator_btn__page">4</button>
                <button class="paginator_btn__backpage">></button>
                <button class="paginator_btn__backpage">>></button>
            </div>
        </div>
    </section>

</body>

</html>